
@{
    ViewBag.Title = "Cadastrar";
}
<p><h4>#</h4></p>
<h2>Cadastrar</h2>
<div class="container">
    @Html.ActionLink("Colaborador", "Colaborador", "Cadastrar", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Area", "Area", "Cadastrar", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Tipo de Projeto", "TipoProjeto", "Cadastrar", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Projeto", "Projeto", "Cadastrar", new { area = "" }, new { @class = "navbar-brand" })
</div>

